 <% items = [Item.all[-1], Item.all[-2], Item.all[-3]]%>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 93, 81, 0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://s4.thingpic.com/images/Xf/TrCtYh1zKfphdFXzWZZ2E8zU.jpeg');">
  <div class="banner-content">
    <h1>Blokbustr</h1>
    <p>Rent videogames, consoles, and peripherals</p>
    <a class="btn btn-danger btn-lg">View the stuff!</a>
  </div>
</div>

<div class="container">
  <h3>Latest ads:</h3>


<% items.each do |item| %>
<div class="col-xs-12 col-sm-4">

        <div class="card">
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=  item.photo %>);">
          </div>
          <div class="card-description">
            <img class="card-user" src="<%= item.user.photo %>">
            <div class="card-category">£<%= item.price %>
            </div>
            <div class="card-info">
              <h2><%= item.title %></h2>
              <p><%= item.description %></p>
              <p><%= item.console %></p>
            </div>
          </div>
            <%= link_to " ",item_path(item), class:"card-link" %>
        </div>
      </div>
<% end %>
</div>



