<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :photo_url %>
  </div>
  <div class="form-inputs">
    <%= f.input :description %>
  </div>
  <div class="form-inputs">
    <%= f.input :price %>
  </div>
  <div class="form-inputs">
    <%= f.input :console, collection: ["Playstation", "Xbox", "Nindendo"] %>
  </div>
  <div class="form-inputs">
    <%= f.input :category, collection: ["Game", "Console", "Peripheral"] %>
  </div>

  <!-- copy the photo form from the file "photo" inside this folder, once you add cloudinary -->

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
